{% extends 'base.html' %}

{% block titulo %}
<title>About me</title>
{% endblock titulo %}

{% block contenido %}

<h1>About me</h1>
<h3>¿Quién soy?</h3>
<p>Hola! Soy María Pilar Kern. Tengo 19 años. Nací en Buenos Aires, Argentina en el año 2004.</p>

<h3>Mi formación académica</h3>
<p>Empecé mis estudios en la escuela Marcelo T. de Alvear, en el barrio de caballito. A los 10 años me cambié de colegio al Instituto Santa Cruz, donde permanecí hasta finalizar mis estudios secundarios.<br>
    Actualmente, me encuentro estudiando la Licenciatura en Ciencias de Datos en la Facultad de Ciencias Exactas y Naturales de la UBA.<br>
    Además, desde los 6 hasta los 17 años estudié inglés en una academia que me preparó para rendir el First Certificate Exam en el año 2021.
</p>

<h3>Un poco de mi historia</h3>
<p>Nací y crecí en el barrio de Caballito, CABA. Me crié viviendo con mis papás y mis 2 hermanos, Julieta y Santiago. Mi familia, al igual que mis amigos, siempre fueron una parte fundamental de mi vida. Siempre sostuve que gracias a las personas qu me acompañan y acompañaron, soy quién soy en el presente. <br>
    Cuando era chica odiaba la matemática, siempre me iba mal y sufría intentando entender el complejo pero asombroso mundo de los números. Sin embargo, en la secundaria conocí a Brenda, una profesora que me hizo interesar por el maravilloso universo de las ciencias exactas. Gracias a ella, empecé a indagar en la matemática y a sentirme maravillada por ese mundo. Así, terminé estudiando en la Facultad de Ciencias Exactas. Mi objetivo es hacer a la matemática una materia amigable para todos.
</p>

{% endblock contenido %}