{% extends 'base.html' %}

{% block titulo %}
<title>Articles</title>
{% endblock titulo %}   

{% block contenido %}
<h1>Reviews</h1>
    <h3>Start reading reviews</h3>

    <a href="{% url 'articles_list' %}">Watch all</a>
    <a href="{% url 'new_article' %}">Post your review</a>
    <br><br>
    <form action="{% url 'search_articles' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search">
        <input type="submit" value="Search title or author">
      </form>
      <br>
    <table class='table'>
        <tbody>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for article in object_list %}
            <tr>
                <td>{{ article.title }}</td>
                {% if article.author == '' %}
                <td>authorless</td>
                {% else %}
                <td>{{ article.author }}</td>
                {% endif %}
                <td>{{ article.date }}</td>
                <td>
                    <a href="{% url 'read_article' article.id %}">Read</a>
                </td>
                <td>
                    <a href="{% url 'edit_article' article.id %}">Edit</a>
                  </td>
                  <td>
                    <a href="{% url 'delete_article' article.id %}">
                      <i class="bi bi-trash"></i>
                    </a>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
