{% extends 'base.html' %}

{% block titulo %}
<title>Articles</title>
{% endblock titulo %}   

{% block contenido %}
<h1>Reviews</h1>
    <h3>Start reading reviews</h3>

    <a href="{% url 'articles_list' %}">Watch all</a>
    <a href="{% url 'new_article' %}">Post your review</a>
    <br><br>
    
    {% if object_list|length == 0 %}
    <p>No reviews yet</p>

    {% else %}

    <table class='table'>
        <tbody>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            {% for article in object_list %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.creator }}</td>
                <td>{{ article.date }}</td>
                <td>
                    <a href="{% url 'read_article' article.id %}">Read</a>
                </td>
                <td>
                    {% if user == article.creator %}
                    <a href="{% url 'edit_article' article.id %}">Edit</a>
                    {% endif %}
                  </td>
                  <td>
                    {% if user == article.creator %}
                    <a href="{% url 'delete_article' article.id %}">
                      <i class="bi bi-trash"></i>
                    </a>
                    {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock contenido %}
